* {
    font-family: 'Montserrat';
}

html,body {
    height:100%;
    width:100%;
    margin:0;
    position: absolute;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

li.bordered a {
    border-color:#6789cc !important;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active), .menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):active){
    background-color: #425781;
}
.stock-blue {
    color: #6789cc !important;
}

@media screen and (max-width:975px) {
    .btm-nav {
        display: none;
    }
}